
<!--body-->


<div class="bg" style="background-image: url({{this.getClickedChampionShip().image1}});background-position: center " >
  <mat-toolbar class="custom-toolbar">
    <a mat-button class="logo" (click)="goToHomePage($event)"><mat-icon>account_tree</mat-icon>Hobby Connector</a>

    <div class="spacer"></div>
    <a mat-button (click)="goToAboutUsPage($event)"> About us </a>
    <a mat-button (click)="goToFacilitiesPage($event)"> Facilities </a>
    <a mat-button href="#"> Championship </a>
    <div class="dropdown">
      <a mat-button (click)="goToLoginPage($event)"><mat-icon>person_outline</mat-icon>My Profile</a>
      <div class="dropdown-content">
        <a mat-button>Logout</a>
      </div>
    </div>
  </mat-toolbar>
  <h1>{{this.getClickedChampionShip().name}} Championships</h1>

</div>

<body>



<div class="bracket">
  <section class="round quarterfinals">
    <div class="winners">
      <div class="matchups">


        <div class="matchup">
          <div class="participants">
            <div class="participant winner"><span>{{this.getService().championshipSlots.lista[0]}}</span></div>
            <div class="participant"><span>{{this.getService().championshipSlots.lista[1]}}</span></div>
          </div>
        </div>



        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>{{this.getService().championshipSlots.lista[2]}}</span></div>
            <div class="participant winner"><span>{{this.getService().championshipSlots.lista[3]}}</span></div>
          </div>
        </div>


      </div>

    </div>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>{{this.getService().championshipSlots.lista[4]}}</span></div>
            <div class="participant winner"><span>{{this.getService().championshipSlots.lista[5]}}</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant"><span>{{this.getService().championshipSlots.lista[6]}}</span></div>
            <div class="participant winner"><span>{{this.getService().championshipSlots.lista[7]}}</span></div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>



</body>

<footer>
  <mat-toolbar>
    <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
  </mat-toolbar>
</footer>
