<!--header-->
<mat-toolbar class="custom-toolbar">
  <a mat-button class="logo" href="#"><mat-icon>account_tree</mat-icon>Hobby Connector</a>
  <div class="spacer"></div>
  <a mat-button href="#"> About us </a>
  <a mat-button href="#"> Facilities </a>
  <a mat-button href="#"> Championship </a>
  <a mat-button href="#">
    <mat-icon>person_outline</mat-icon>Login</a>
</mat-toolbar>

<div class="bg-aboutUs"></div>

<mat-card id="card-aboutUs">
  <mat-card-header>
    <mat-card-title>We are a company whose goal is to<br>
      connect people based on their hobbies.<br><br>
      Firstly, we believe that a sport<br>
      is better in team - like everything!<br><br>
      Secondly, it is an awesome way to make new friends,<br>
      that have the same passion as yours!<br><br>
      So, wanna JOIN US?</mat-card-title>
  </mat-card-header>
</mat-card>
<!--footer-->
<!--footer-->
<footer>
  <mat-toolbar>
    <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
  </mat-toolbar>
</footer>

