<!--header-->
<div class="bg-aboutUs">
<mat-toolbar class="custom-toolbar">
  <a mat-button class="logo" (click)="goToHomePage($event)"><mat-icon>account_tree</mat-icon>Hobby Connector</a>
  <div class="spacer"></div>
  <a mat-button (click)="goToAboutUsPage($event)"> About us </a>
  <a mat-button (click)="goToFacilitiesPage($event)"> Facilities </a>
  <a mat-button (click)="goToChampionshipPage($event)"> Championship </a>
  <a mat-button (click)="goToLoginPage($event)">
    <mat-icon>person_outline</mat-icon>Login</a>
</mat-toolbar>

<mat-card id="card-aboutUs">
  <mat-card-header>
    <mat-card-title>We are a company whose goal is to<br>
      connect people based on their hobbies.<br><br>
      Firstly, we believe that a sport<br>
      is better in team - like everything!<br><br>
      Secondly, it is an awesome way to make<br>
      new friends, that have the same passion<br>
      as yours!<br><br>
      <span id="final-text">wanna JOIN US?</span></mat-card-title>
  </mat-card-header>
</mat-card>

<!--footer-->
<!--footer-->
<footer>
  <mat-toolbar>
    <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
  </mat-toolbar>
</footer>
</div>
