<!--header-->

<div class="bg" style="background-image: url({{this.getClickedHobby().image1}}); background-position: center; background-size: cover;">
  <mat-toolbar class="custom-toolbar">
    <a mat-button class="logo" (click)="goToHomePage($event)"><mat-icon>account_tree</mat-icon>Hobby Connector</a>
    <div class="spacer"></div>
    <a mat-button (click)="goToAboutUsPage($event)"> About us </a>
    <a mat-button (click)="goToFacilitiesPage($event)"> Facilities </a>
    <a mat-button (click)="goToChampionshipPage($event)"> Championship </a>
    <div class="dropdown">
      <a mat-button (click)="goToProfilePage($event)"><mat-icon>person_outline</mat-icon>My Profile</a>
      <div class="dropdown-content">
        <a mat-button (click)="logOut($event)">Logout</a>
      </div>
    </div>
  </mat-toolbar>

<!--body-->
<header class="center">{{this.getClickedHobby().name}} Tournament</header>



<div class="containerTable1">
  <app-generic-data-table ></app-generic-data-table>
</div>
<div class="containerTable2">
  <app-table2></app-table2>
</div>

<input type="checkbox" id="show">
<label for="show" class="button1">Invite Player</label>
<div class="container">
  <label for="show" class="close-btn" title="close">Close</label>
  <form>
    <div class="data">
      <label>Email:</label>
      <input type="text" required></div>
    <button class="button3">Send Email</button>
  </form>
</div>

<input type="checkbox" id="show3">
<label for="show3" class="button2">Enter Amical</label>
<div class="container3">
  <label for="show3" class="close-btn" title="close">Close</label>
  <form>

    <table id="table3">
      <col style="width:50%">
      <col style="width:50%">
      <tr>
        <th>Team1</th>
        <th>Team2</th>
      </tr>
      <TR>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
      </TR>
      <TR>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
      </TR>
      <TR>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
      </TR>
      <TR>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
      </TR>
      <TR>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
      </TR>
      <TR>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
        <TD class = "select">
          <select>
            <option value="1">Player1</option>
            <option value="2">Player2</option>
            <option value="3">Player3</option>
            <option value="4">Player4</option>
          </select>
      </TR>
    </table>

  </form>
</div>

<input type="checkbox" id="show2">
<label for="show2" class="button1">Invite Player</label>
<div class="container2">
  <label for="show2" class="close-btn" title="close">Close</label>
  <form>
    <div class="data">
      <label>Email:</label>
      <input type="text" required></div>
    <button class="button3">Send Email</button>
  </form>
</div>
<label class="button2">Enter Championship</label>




<!--footer-->
<footer>
  <mat-toolbar>
    <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
  </mat-toolbar>
</footer>

</div>
