<!--header-->

<div class="bg" style="background-image: url({{this.getClickedHobby().image1}}); background-position: center; background-size: cover;">
  <mat-toolbar class="custom-toolbar">
    <a mat-button class="logo" (click)="goToHomePage($event)"><mat-icon>account_tree</mat-icon>Hobby Connector</a>
    <div class="spacer"></div>
    <a mat-button (click)="goToAboutUsPage($event)"> About us </a>
    <a mat-button (click)="goToFacilitiesPage($event)"> Facilities </a>
    <a mat-button (click)="goToChampionshipPage($event)"> Championship </a>
    <div class="dropdown">
      <a mat-button (click)="goToProfilePage($event)"><mat-icon>person_outline</mat-icon>My Profile</a>
      <div class="dropdown-content">
        <a mat-button (click)="logOut($event)">Logout</a>
      </div>
    </div>
  </mat-toolbar>

<!--body-->
<header class="center">{{this.getClickedHobby().name}} Tournament</header>



<div class="containerTable1">
  <app-generic-data-table [users]="this.tournamentUsers.getAmicalUsers()"></app-generic-data-table>
</div>
<div class="containerTable2">
  <app-generic-data-table [users]="this.tournamentUsers.getChampionshipUsers()"></app-generic-data-table>
</div>

<input type="checkbox" id="show">
<label for="show" class="button1">Invite Player</label>
<div class="container">
  <label for="show" class="close-btn" title="close">Close</label>
  <form>
    <div class="data">
      <label>Email:</label>
      <mat-form-field appearance="fill">
        <label>
          <input type="text" required #emailBox
             (keyup.enter)="emailSubAmical(emailBox.value)"
             (blur)="emailSubAmical(emailBox.value)" matInput placeholder></label></mat-form-field></div>
    <button (click)="amicalInvitation($event)" class="button3">Send invitation</button>
  </form>
</div>

<input type="checkbox" id="show3">
<label for="show3" class="button2">Enter Amical</label>
<div class="container3">
  <label for="show3" class="close-btn" title="close">Close</label>
  <form>

    <table id="table3">
      <col style="width:50%">
      <col style="width:50%">
      <tr>
        <th >Team1</th>
        <th >Team2</th>
      </tr>
      <TR *ngFor="let player of this.teamsUsersAmical;index as i">
        <TD class = "select" *ngIf="i<(this.teamsUsersAmical.length-1)/2">
          <select #t1 (change)="team1Call(t1.value)">
            <option *ngFor="let user of this.teamsUsersAmical" [value]="user.value.getId()">
              {{user.viewValue}}
            </option>
          </select>
        </TD>

        <TD  class = "select" *ngIf="i<(this.teamsUsersAmical.length-1)/2">
          <select #t2 (change)="team2Call(t2.value)">
            <option *ngFor="let user of this.teamsUsersAmical" [value]="user.value.getId()">
              {{user.viewValue}}
            </option>
          </select>
        </TD>
      </TR>
    </table>

  </form>
</div>

<input type="checkbox" id="show2">
<label for="show2" class="button1">Invite Player</label>
<div class="container2">
  <label for="show2" class="close-btn" title="close">Close</label>
  <form>
    <div class="data">
      <label>Email:</label>
      <mat-form-field appearance="fill">
        <label>
          <input type="text" required #emailBox2
                 (keyup.enter)="emailSubChamp(emailBox2.value)"
                 (blur)="emailSubChamp(emailBox2.value)" matInput placeholder></label></mat-form-field></div>
    <button (click)="championshipInvitation($event)" class="button3">Send invitation</button>
  </form>
</div>

  <input type="checkbox" id="showw">
  <label for="showw" class="button2">Enter Tournament</label>
  <div class="container4">
    <label for="showw" class="close-btn" title="close">Close</label>
    <form>
      <div class="data">
        <label>The name of the team:</label>
        <input type="text" required #teamNameBox
               (keyup.enter)="teamNeamSub(teamNameBox.value)"
               (blur)="teamNeamSub(teamNameBox.value)" matInput placeholder></div>
        <button (click)="submitTeamChamp($event)" class="button3">Submit</button>
    </form>
  </div>







<!--footer-->
<footer>
  <mat-toolbar>
    <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
  </mat-toolbar>
</footer>

</div>
