<!--header-->
<body>
<mat-toolbar class="custom-toolbar">
  <a mat-button class="logo" (click)="goToHomePage($event)"><mat-icon>account_tree</mat-icon>Hobby Connector</a>
  <div class="spacer"></div>
  <a mat-button (click)="goToAboutUsPage($event)"> About us </a>
  <a mat-button (click)="goToFacilitiesPage($event)"> Facilities </a>
  <a mat-button (click)="goToChampionshipPage($event)"> Championship </a>
  <a mat-button (click)="goToLoginPage($event)">
    <mat-icon>person_outline</mat-icon>My Profile</a>
</mat-toolbar><p></p>

<!--body-->
<header class="center">Tournament</header>


<table id="table1">
  <tr>
    <th>No</th>
    <th>Team1</th>
    <th>Team2</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>


<table id="table2">
  <tr>
    <th>No</th>
    <th>Team</th>

  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>

</table>



<button class="button1">Invite Player</button>

<button class="button2">Enter Amical</button>
<button class="button1">Invite Player</button>
<button class="button2">Enter Championship</button>
</body>

<!--footer-->
<footer>
  <mat-toolbar>
    <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
  </mat-toolbar>
</footer>
