<body>
  <!--header-->
  <mat-toolbar class="custom-toolbar">
    <a mat-button class="logo" (click)="goToHomePage($event)"><mat-icon>account_tree</mat-icon>HOBBY CONNECTOR</a>
    <div class="spacer"></div>
    <a mat-button (click)="goToAboutUsPage($event)"> About us </a>
    <a mat-button (click)="goToFacilitiesPage($event)"> Facilities </a>
    <a mat-button (click)="goToChampionshipPage($event)"> Championship </a>
    <a mat-button (click)="goToProfilePage($event)">
      <mat-icon>person_outline</mat-icon>My Profile</a>
  </mat-toolbar>

  <!-------------------------------------->
  <div class="user-container">

    <div class="left">
      <div class="circle" [ngStyle]="{'background-color': circleColor}">
        {{initials}}
      </div>

      <h4>{{this.profileService.getUserName()}}</h4>
      <p>{{this.profileService.getUserEmail()}}</p>
      <p>-{{this.profileService.getUserPhoneNo()}}-</p>

      <div class="updateButton">
        <a mat-raised-button (click)="logout($event)"> Logout </a>
      </div>
      <div class="updateButton">
        <a mat-raised-button (click)="logout($event)">Reviews</a>
      </div>
    </div>


    <div class="right">
       <div class="title"><h3>My account</h3></div>
      <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="fname">Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="firstname" [(ngModel)]="userName"  placeholder="{{userName}}">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="email">Email</label>
            </div>
            <div class="col-75">
              <input type="email" id="email" name="email" [(ngModel)]="userEmail" placeholder="{{userEmail}}">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="number">Phone number</label>
            </div>
            <div class="col-75">
              <input type="tel" id="number" name="phonenumber" [(ngModel)]="userPhoneNo" placeholder="{{userPhoneNo}}">
            </div>
          </div><div class="row">
            <div class="col-25">
              <label for="password">Password</label>
            </div>
            <div class="col-75">
              <input type="password" id="password" name="password" [(ngModel)]="userPassword" placeholder="new password">
            </div>
          </div>

    </div>
      <div class="updateButton">
        <a mat-raised-button (click)="update($event)"> Update Info </a>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------->
  <footer>
    <mat-toolbar>
      <div class="footer"><p>&copy; 2020 Copyright:WILDCATS</p></div>
    </mat-toolbar>
  </footer>
</body>
