@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*header*/
.spacer{
  flex: 1 1 auto;
}
/*------------------------------------------------*/
.mat-button{
  display: inline-block;
  font-size: 2vmin;
  background-color: transparent;
  border: solid 1px transparent;
  border-radius: 0;
  padding: 13px 20px;
  cursor: pointer;
}
.mat-button:hover {
  background: rgb(210,210,210);
  color: #333;
}
.mat-button.logo:hover {
  background: rgb(230,230,230);
  color: #333;
}
.mat-toolbar {
  position: sticky;
  top: 0;
  background-color: rgb(230,230,230);/*243,233,175*/
  padding: 0 5px;
  flex: 1 1 auto;
  text-align: center;
  overflow: auto; /*so that the background shows, no matter what*/
}
/*------------------------------------------------*/

 /*avatar*/

.circle{
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
}
.initials{
  color:#FFFFFF;

  line-height: 20px;
  letter-spacing: 0.2625px;
  padding: 30px 25px;

}
.left-button{
  padding: 30px 25px;

}
/*---------------------*/
/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}*/

.label{
  font-size: 1vh;
}
.left.a{
  flex: 1 1 auto;
}
.user-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60vw;
  height: 50vh;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.user-container .left{
  width: 35%;
  background: lightgray;
  padding: 30px 25px;
  text-align: center;
  color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container .left h4{
  margin-bottom: 10px;
  font-size: 3vmin;

}

.user-container .left p{
  font-size: 2vmin;
}

.user-container .right{
  width: 65%;
  height: 90%;
  /*background: #fff;*/
  background-color: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;

}
.user-container .right .title /*right title*/
{
  color: #353c4e;
  font-size: 2vmax;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  justify-content: space-around;
  text-align: center;
}
.updateButton{
  justify-content: space-around;
  text-align: center;
  font-size: 2vmin;

}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 30vw;
  height: 30vw;
}

.change-info{
  background-color: #fff;
  height: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2vmin;


}
.column {
  flex: auto;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 5px;
  justify-content: space-between;
  text-align: center;



}
/*footer*/
.footer{
  width: 100vw;
  height: 50px;
  text-align: center;
  justify-content: center;
  font-size: 1.7vmin;
  bottom: 0%;
  background:lightgray;
  position: fixed;
}
body{
  height: 100vh;
  width: 100vw;
}

