<a (click)="goToHomePage($event)"><button mat-icon-button class="close-button">&#10006;</button></a>
<div class="content">
  <h1 id="title">Log In</h1>
  <div>
    <span class="new-to-site-question">New to this site?</span>
    <a (click)="goToSignupPage($event)" class="sign-up-text"> Sign Up</a>
  </div>
  <div class="login-with-google">
    <a (click)="socialSignIn('google')"><button mat-flat-button class="log-in-google-button"><fa-icon [icon]="faGoogle" style="float:left"></fa-icon> Log In with Google</button></a>
  </div>
  <span class="or">&nbsp;&nbsp;or&nbsp;&nbsp;</span>
  <a (click)="goToLoginEmailPage($event)"><button mat-flat-button class="log-in-with-email">Log In with Email</button></a>
</div>
