<!--<div class="bg" style="background-image: url('https://static.wixstatic.com/media/cb876229ff694470b7716bca2e9b85a0.jpg/v1/fill/w_1590,h_783,al_c,q_85/cb876229ff694470b7716bca2e9b85a0.webp');background-position: center " >
<a href="#"><button mat-icon-button class="close-button">&#10006;</button></a>
  <div class="content">
    <h1 id="title">Sign Up</h1>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput placeholder="First Name">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput placeholder="Last Name">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput type="email" placeholder="Email">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput type="password" placeholder="Password">
        </label>
      </mat-form-field>
    </div>
    <button mat-flat-button class="log-in-button">Sign Up</button>
    <br> <br>
    <span class="already-member">Already a member? <a routerLink="/login" routerLinkActive="active" class="log-in-link">Log In</a></span>
  </div>
</div>
<router-outlet></router-outlet>
-->
<div class="bg" style="background-image: url('https://static.wixstatic.com/media/cb876229ff694470b7716bca2e9b85a0.jpg/v1/fill/w_1590,h_783,al_c,q_85/cb876229ff694470b7716bca2e9b85a0.webp');background-position: center " >
  <a (click)="goToLoginPage($event)"><button mat-icon-button class="close-button">&#10006;</button></a>
  <div class="content">
    <h1 id="title">Sign Up</h1>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput placeholder="First Name">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput placeholder="Last Name">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput type="email" placeholder="Email">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput type="password" placeholder="Password">
        </label>
      </mat-form-field>
    </div>
    <button mat-flat-button class="log-in-button">Sign Up</button>
    <br> <br>
    <span class="already-member">Already a member? <a (click)="goToLoginPage($event)">Log In</a></span>
  </div>
</div>
