<div class="page" [ngStyle]="{backgroundImage: 'url(../../../assets/signup-background.webp)'}">
  <a href="#"><button mat-icon-button class="close-button">&#10006;</button></a>
  <div class="content">
    <h1 id="title">Sign Up</h1>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput placeholder="First Name">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput placeholder="Last Name">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput type="email" placeholder="Email">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <label>
          <input matInput type="password" placeholder="Password">
        </label>
      </mat-form-field>
    </div>
    <button mat-flat-button class="log-in-button">Log In</button>
    <br> <br>
    <span class="already-member">Already a member? <a href="#" class="log-in-link">Log In</a></span>
  </div>
</div>
