@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.bg{
  width:100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}
a:hover{
  cursor: pointer;
}

.close-button {
  float: right;
  font-size: 3em;
  right: 8%;
  top: 5%;
  color: black;
}

.content {
  top: calc(50% - 300px);
  box-sizing: content-box;
  margin: auto;
  margin-top: 3%;
  margin-right: 35%;
  width: 25%;
  height:75%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  background-color: white;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content::-webkit-scrollbar {
  display: none;
}


#title {
  font: normal normal normal 24px/1.4em "Times New Roman",sans-serif;
  color: dimgrey;
  font-size: 6vh;
  line-height: .8em;
  margin-top: 1%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 6%;
}

mat-form-field {
  width: 90%;
  font-family: "Times New Roman", sans-serif;
  height: 100%;
  line-height: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

mat-label {
  font-size: 1.2em;
}

input {
  font-size: 2vh;
  border: 1px solid black;
  padding-top: 3%;
  padding-bottom: 3%;
}

.log-in-button {
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 2vh;
  height:15%;
  text-align: center;
  width: 80%;
  padding: 1% 1%;
  background-color: grey;
  color: white;
  line-height:0
}

.already-member {
  font-family: "Times New Roman", sans-serif;
  font-size: 3vh;
}

.log-in-link {
  color: black;
  text-decoration: underline;
}
